
.white-board-canvas {
    touch-action: none;
    min-width: 100%;
    min-height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.click-pointer {
    cursor: crosshair;
}

.touch-off {
    touch-action: none;
}